page-details {

    .acceptBtn{
        width: 80%;
        height: 40px;
        color: whitesmoke;
        display: inline;
        background: #1abc9c;
        border-radius: 5px;
    }
    .refuseBtn{
        margin-top: 10px;
        color: whitesmoke;
        width: 80%;
        height: 40px;
        display: inline;
        background: #e74c3c;
        border-radius: 5px;
    }

}
